.hud {
  position: absolute;
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;

  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */

  pointer-events: none;
}

.hud .hud-button-group {
  position: absolute;
  bottom: 0px;
  height: 70px;
  width: 100%;
  pointer-events: auto;
  display: flex;
  flex-direction: row;
}

.hud .hud-button-group .hud-button {
  flex: 1 0 80px;
  height: 100%;
  font-size: 2em;
}
