.main-menu {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .top {
    flex: 0 0 250px;

    header {
      font-family: Georgia, "Times New Roman", Times, serif;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      img {
        position: absolute;
        width: 400px;
        opacity: 0.5;
      }

      h1 {
        z-index: 10;
        font-size: 41px;
        text-align: center;
        font-family: "Cormorant Garamond", serif;
        font-weight: 700;
        border-bottom: 3px solid black;
        line-height: 36px;
        letter-spacing: -2px;
        width: 100%;
        margin: 0 18px;
      }
    }
  }

  .middle {
    flex: 1 0;
    position: relative;

    .studio-logo {
      margin-top: 30px;
      width: 80%;
      position: relative;
      z-index: 10;

      .title {
        margin-left: 20px;
        font-size: 10px;
        font-weight: bold;
      }

      .divider {
        border-bottom: 2px solid;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, rgba(10, 10, 10, 0.95) 9%, #c4c4c400 100%);
      }

      .studio {
        margin-left: 30px;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .illustration {
      position: absolute;
      z-index: 0;
      bottom: 0px;
      right: 0;
      height: 100%;
      animation: pulse-opacity 8s infinite;

      img {
        height: 100%;
      }
    }
  }

  .bottom {
    flex: 0 0 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .menu-item {
      margin-left: 12px;
      margin-bottom: 4px;
      font-size: 24.5px;
      font-weight: 600;
      color: #333333;
      border-bottom: 2px solid;
      border-image-slice: 1;
      border-image-source: linear-gradient(to right, #00000000, rgba(10, 10, 10, 0.95) 9%, #c4c4c400 100%);
      transition: padding-left 200ms;

      &:hover,
      &:active {
        cursor: pointer;
        color: white;
        background: linear-gradient(to right, #66b0fbff, rgba(102, 251, 251, 0.33) 70%, #66b0fb00 100%);
        border-image-source: initial;
        padding-left: 24px;
      }
    }
  }
}

@keyframes pulse-opacity {
  0% {
    opacity: 0.3;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.3;
  }
}
