.field-scene {
  height: 100%;

  .battle-screen {
    height: 100vw;
    position: relative;
    background-color: rgb(240, 255, 255, 0.5);
    border: 3px solid black;
  }

  .battle-controls {
    height: calc(100% - 100vw);
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .turn-indicator {
      width: 100%;
      padding: 0 1em;

      .turn-progress {
        height: 32px;
        width: 100%;
      }
    }

    .battle-button-group {
      flex: 1 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 2em;

      .battle-button {
        flex: 1 0 50%;
        height: 2em;
      }
    }
  }

  .battlefield {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .player-self-container {
      width: 125px;
      border: 2px solid rgb(0, 255, 162);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      position: absolute;
      bottom: 0;
      left: 0;

      .player-name {
        font-size: 12px;
        text-align: center;
      }

      .health-bar {
        width: 100%;
        accent-color: red;
      }

      .mana-bar {
        width: 100%;
        accent-color: rgb(40, 40, 202);
      }
    }

    .players-list {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      flex-direction: row;
      width: calc(100% - 125px);
      overflow-x: scroll;
    }

    .player-container {
      border: 1px solid rgb(131, 131, 131);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2px;
      // position: absolute;
      bottom: 0;
      right: 0;

      .player-name {
        font-size: 10px;
        text-align: center;
      }

      .health-bar {
        width: 65px;
        height: 10px;
        accent-color: red;
      }

      .mana-bar {
        width: 65px;
        height: 10px;
        accent-color: rgb(40, 40, 202);
      }
    }

    .enemies-list {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      flex-direction: row;
      width: 100%;
      overflow-x: scroll;
    }

    .enemy-container {
      border: 1px solid rgb(131, 131, 131);
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2px;
      // position: absolute;
      bottom: 0;
      right: 0;

      .player-name {
        font-size: 10px;
        text-align: center;
      }

      .health-bar {
        width: 65px;
        height: 10px;
        accent-color: red;
      }

      .mana-bar {
        width: 65px;
        height: 10px;
        accent-color: rgb(40, 40, 202);
      }
    }
  }
}
