.character-scene {
}

.character-scene .character-view {
  height: 400px;
  background: url(../../public/images/mori_jungle.png);
  background-size: cover;
}

.character-scene .character-view .character {
  flex: 1 1;
}

.character-form {
}

.character-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.character-button-group label {
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
}

.character-button-group input {
  text-align: center;
}

.character-button-group .arrow {
  text-align: center;
  font-size: 2em;
}

.character-button-group .preset-container {
}
