.home-scene {
  height: 730px;
}

.home-scene .tab-container {
  flex: 0 0 50px;
  height: 50px;
  border-bottom: 1px solid black;
}

.home-scene .tab-container .tab {
  flex: 1 0;
}

.home-scene .badge-tab {
  flex: 1 1;
}

.badge-tab .badge-display {
  flex: 0 0 300px;
  height: 300px;
  border-bottom: 1px solid black;
}

.badge-tab .badge-shelf {
  gap: 1em;
  margin: 2em;
  justify-content: center;
}

.badge-tab .badge-shelf .trophy-badge {
}

.badge-tab .badge-content {
  margin: 0 2em;
  justify-content: center;
}

.badge-tab .badge-list {
  height: 380px;
  padding: 20px 0 0 20px;
  flex-wrap: wrap;
  gap: 20px;
  align-content: center;
  overflow-y: scroll;
}

.badge-tab .badge-list .badge {
  width: 75px;
  height: auto;
}

.badge-list-container {
  flex: 0 1;
}
