/* ENDLESS ROTATE */
.rotate {
    animation: spinner 5s linear infinite;
}

@keyframes spinner1 {
    to {
        transform: rotate(360deg);
    }

    from {
        transform: rotate(0deg);
    }
}

@keyframes spinner2 {
    to {
        transform: rotate(360deg);
    }

    from {
        transform: rotate(100deg);
    }
}

.shop-scene {
    height: 100%;

    div {
        // background: rgba(80, 80, 80, .05);
        // border: 0.5px solid #333;
    }

    .shop-top {
        height: 300px;
        width: 100%;
        display: flex;
        flex-direction: row;

        .shop-background {
            flex: 1 1;
        }

        .shop-cart {
            flex: 0 0 200px;

            height: 100%;
            display: flex;
            flex-direction: column;

            .cart-title {
                flex: 0 0 2em;
            }

            .cart-list {
                flex: 1;
                overflow-y: auto;

                .cart-item {
                    height: 50px;
                    width: 100%;
                }
            }

            .cart-total {
                flex: 0 0 2em;
            }
        }
    }

    .shop-bottom {
        height: calc(100% - 300px);
        overflow-y: auto;

        border-top: 1px solid #333;

        .shop-list {
            .shop-item {
                height: 70px;

                width: 100%;
                display: flex;
                flex-direction: row;
                // border-top: 1px solid #666;
                // border-bottom: 1px solid #333;
                background: #ead4aa;



                .item-image {
                    flex: 0 0 80px;
                    position: relative;

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .bg1 {
                        // animation: spinner1 5s linear infinite;
                        z-index: 11;
                        position: absolute;
                        background: rgba(79, 79, 79, 0.5);
                        width: 40px;
                        height: 40px;

                        border: none;
                        border-radius: 50%;

                        transform: scale3d(1.2, 0.3, 1) translate(0px, 35px);
                    }

                    .bg2 {
                        // animation: spinner1 3s linear infinite;
                        z-index: 10;
                        position: absolute;
                        background: #b99;
                        width: 45px;
                        height: 45px;
                        border-radius: 8px;
                        transform: rotate(124deg);
                    }

                    .icon {
                        z-index: 13;
                        position: absolute;
                        border: none;
                        font-size: 1.8em;

                        img {
                            width: 48px;
                        }
                    }
                }

                // .item-name {
                //     flex: 1 2;
                // }

                .item-description {
                    flex: 1 1;
                    height: 100%;


                    .name {
                        margin-top: 1em;
                        font-size: 1em;
                        font-weight: 800;
                        border-radius: 30px;
                        // background: #d49e9e80;
                        background: rgba(212, 158, 158, 0.5);
                        position: relative;
                        left: -40px;
                        z-index: 9;
                        padding-left: 40px;
                    }

                    .text {
                        font-size: 0.8em;
                    }
                }

                .item-price {
                    flex: 0 0 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .item-button {
                        width: 90%;
                        border: 3px solid #00541f;
                        border: 3px solid #333;
                        border-radius: 10px;
                        padding: 0.4em 0.2em;
                        background: #57983b;
                        text-align: right;
                        color: #eee;
                        // color: #222;
                        font-weight: 600;

                        position: relative;

                        .bg {
                            z-index: 8;
                            position: absolute;
                            height: 45%;
                            width: 90%;
                            border-radius: 5px;
                            background: hsl(101 42% 50% / 1);
                            top: 3px;
                            left: 3px;
                        }

                        .t {
                            position: relative;
                            z-index: 10;
                        }
                    }
                }
            }
        }
    }
}